*{
  text-transform: uppercase;
  text-align: center;
}
.card{
  background: #aad;
  width: 50%;
  margin: auto;
  padding: 2px 0px 2px 0px;
  border-left: 5px;
  border-right: 5px;
  box-shadow: 2px 2px 2px black;
}
.cards{
  display: flex;
}
@media (min-device-width:350px)
 and (max-device-width:480px) {
.cards{
  width: 98%;
  flex-wrap: wrap;
  margin:1%;
}
.card{
  width: 98%;
  margin-top: 16px;
}
}
